" Leader key
let mapleader=" "

" Configure whichkey
set which-key
let g:WhichKey_ShowVimActions = "true"

" Search
nmap <leader>sa <Action>(SearchEverywhere)
nmap <leader>sf <Action>(FindInPath)
nmap <leader>sk <Action>(GotoAction)

" Terminal
let g:WhichKeyDesc_ActivateTerminalToolWindow = "<leader>t Activate Terminal"
nmap <leader>t <Action>(ActivateTerminalToolWindow)

" Windows
let g:WhichKeyDesc_Window_Related_Prefix = "<leader>w Window"
sethandler <c-h> a:vim
sethandler <c-l> a:vim
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

" Window - Split
nmap <leader>w- <Action>(SplitHorizontally)
nmap <leader>w_ <Action>(SplitVertically)
nmap <leader>wq <Action>(CloseAllEditors)
nmap <leader>wx <Action>(CloseContent)

" Window - Resize
nmap <c-S-h> <Action>(StretchSplitToLeft)
nmap <c-S-l> <Action>(StretchSplitToRight)
nmap <c-S-k> <Action>(StretchSplitToTop)
nmap <c-S-j> <Action>(StretchSplitToBottom)

" Window - Focus NerdTree
let g:WhichKeyDesc_NERDTreeFocus = "<leader>e NerdTree - Focus"
nmap <leader>e :NERDTreeFocus<CR>
let g:WhichKeyDesc_NERDTreeToggle = "<leader>E NerdTree - Toggle"
nmap <leader>E :NERDTreeToggle<CR>

" Window - Catchall
nmap <leader>ws <Action>(Switcher)

" Window - Focus Mode
nmap <leader>wd <Action>(ToggleDistractionFreeMode)

" Code
let g:WhichKeyDesc_Refactoring = "<leader>f Refactoring"
nmap <leader>fm <Action>(ReformatCode)
map <c-J> <Action>(MoveLineDown)
map <c-K> <Action>(MoveLineUp)
map <leader>/ <Action>(CommentByLineComment)
nmap <leader>fr <Action>(RenameElement)

" Run
let g:WhichKeyDesc_Run_Configs = "<leader>r Run"
nmap <leader>rr <Action>(Run)
nmap <leader>rd <Action>(Debug)
nmap <leader>rx <Action>(Stop)

" Debug
let g:WhichKeyDesc_Debug_Configs = "<leader>d Debug"
nmap <leader>db <Action>(ToggleLineBreakpoint)
" TODO: Step over, into etc..

" LSP Info
let g:WhichKeyDesc_LSP = "<leader>i LSP"
nmap <leader>ik <Action>(QuickJavaDoc)
nmap <S-k> <Action>(QuickJavaDoc)
nmap <leader>id <Action>(GotoDeclaration)
nmap <S-d> <Action>(GotoDeclaration)
nmap <leader>ir <Action>(GotoReferences)
nmap <S-r> <Action>(GotoReferences)
nmap <leader>iE <Action>(ShowErrorDescription)
nmap <S-E> <Action>(ShowErrorDescription)

set relativenumber
set number
set scrolloff=5

" Do incremental searching.
set ignorecase
set smartcase
set incsearch
set hlsearch

"Surround
set surround

" disable the timeout option
set notimeout

set clipboard+=unnamed
set clipboard+=ideaput

" Don't use Ex mode, use Q for formatting.
map Q gq

" Plugins
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'
